// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
.btn-try-out {
  background-color: #2e4379;
  background-color: #495E91;
  color: #FFF;
  font-weight: 500;
  outline: none;
}
