nav {
  margin-top: 20px;
  padding-left: 20px;
}

.active-route {
  color: #62b2f3;
}


.mobile-nav-menu {
  .search-input {
    position: relative;
    .fa {
      position: absolute;
      color: #3a3d37;
      right: 14px;
      top: 28%;
      font-size: 18px;
      cursor: pointer;
      padding: 5px;
    }
  }
}
// .notactive {
//   color: #e2dcdc !important;
// }

nav {
  padding-left: 10px;
}

.nav-menu {
  padding: 0;
  margin: 0;
  letter-spacing: 0.5px;
  font-size: 0.9rem;
}

.endarrow{
  position: absolute !important;
  margin: 11px;
  color: #959b9e;
}

.nav-menu .sidebarGroup.closed .subtree-name .fa-chevron-right {
  color: #959b9e;
  font-family: 'FontAwesome';
  font-size: 10px;
  position: absolute;
  top: 11px;
  right: 30px;
}

.nav-menu .sidebarGroup.closed .subtree-name .fa-arrow-left {
  margin-right: 3px;
}


.sidebarGroup.hoverclass  .fa-arrow-left {
  margin-right: 3px;
}

.nav-menu .sidebarGroup.hoverclass  .fa-chevron-down {
  content: "\f107";
  color: #959b9e;
  font-family: 'FontAwesome';
  font-size: 10px;
  float: right;
}

.sidebarItem {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.sidebarGroup  > .sidebarItem {
  font-size: 14px;
  padding: 10px 0;
}

.sidebar li .sidebarItem {
  padding: 0px 15px 0px 0px;
  text-transform: capitalize;
  margin: 0;
  font-weight: normal;
  line-height: 1;
  cursor: pointer;
}

.sidebarChildren > .sidebarItem {
  font-size: 14px;
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}

#apiReference {
  margin-left: 0 !important;
  .nav-menu {
    margin-top: 0;
  }
  .sidebarGroup {
    margin-bottom: 0;
    .subtree-name {
      text-transform: capitalize;
    }
  }
  &:after {
    transform: rotate(-90deg);
  }
  &.active-nav:after {
    transform: rotate(0deg);
  }
}


.sidebarGroup {
  margin-bottom: 10px;
  &.sidebarGroup{
    > a {
      width: 100%;
      .sidebarGroup-toggle:after {
        content: '\F078';
        font-family: FontAwesome;
        float: right;
        border: 0;
        display: inline;
        margin-right: 0;
        font-size: 10px;
        width: auto;
        height: auto;
        line-height: 13px;
      }
    }
  }
  .sidebarGroup-content {
    display: none;
    position: relative;
    > li {
      position: relative;
      transition: all 0.5s ease-in-out;
      -webkit-transition: all 0.5s ease-in-out;
    }
  }
  .sidebarGroup-toggle:after {
    transform: rotate(-90deg);
  }
  .sidebarItem {
    > a {
      color: #e2dcdc;
      text-decoration: none;
      font-size: 12px;
      padding: 10px 0;
      display: inline-block;
      span {
        color: #e2dcdc;
        font-size: 12px;
      }
    }
  }
  .sidebarItem.api-notfound {
    a {
      cursor: auto;
    }
  }
  a.sidebarItem {
    font-weight: 500;
    font-family: $heading-font-stack;
    padding: 5px 0;
    display: inline-block;
    color: #e2dcdc;
    font-size: 13px;
    span {
      font-family: $heading-font-stack;
    }
  }
  &[data-view="closed"] {
    .sidebarGroup-toggle:after {
      transform: rotate(-90deg) !important;
    }
    .sidebarGroup-content {
      display: none !important;
    }
  }
  &[data-view="expanded"] {
    .sidebarGroup-content {
      display: block !important;
    }
    .sidebarGroup-toggle:after {
      transform: rotate(0deg);
      transition: all 0.2s ease-in-out;
      -webkit-transition: all 0.2s ease-in-out;
    }
  }
  &.active-group {
    .sidebarGroup-content {
      display: block;
      position: relative;
      > li {
        position: relative;
        transition: all 1s ease-in-out;
        -webkit-transition: all 1s ease-in-out;
      }
    }
    .sidebarGroup-toggle:after {
      transform: rotate(0deg);
      transition: all 0.2s ease-in-out;
      -webkit-transition: all 0.2s ease-in-out;
    }
    a.sidebarItem {
      font-weight: 600;
      color: white !important;
    }
    .sidebarChildren {
      > .sidebarItem {
        a {
          font-family: 'Montserrat', sans-serif;
          transition: margin 0.5s ease-in-out;
          &:hover {
            margin-left: 15px;
          }
        }
        .active-nav {
          font-weight: 600;
          color: white !important;
        }
      }
    }
  }
  .sidebarChildren {
    > .sidebarItem {
      a {
        font-family: 'Montserrat', sans-serif;
        transition: margin 0.5s ease-in-out;
        &:hover {
          margin-left: 15px;
          span {
            font-weight: 600;
            color: white !important;
          }
        }
      }
    }
  }
}
