.page-footer{
  .docs-footer{
    width:100%;
    border-top: 1px solid darkgrey;
    position: relative;
    //z-index: 3;
    background-color: #2a3248;
    padding: 30px 0 85px;
   }
   li {
       display: inline;
       padding-right: 20px;

   }
   li a{
     color: white;
   }
   li a:hover{
     text-decoration: underline;
   }
   .container{
     margin-top:35px;
   }
   p {
     color:white;
     margin-left:10px;
   }
   .container {
       margin: 0 auto;
       max-width: 1300px;
       width: 100%;
   }
   .row{
     margin-top:45px;
     margin-left: 0px;
     margin-right: 0px;
   }
   @media screen and (max-width: 768px) {
    li {
      display: grid !important;
    }
    .text-nowrap li {
      display: inline !important;
    }
  }
}
#footer_div{
 padding-left: 300px;
width: 99.9%;
position: absolute;
clear: both;
}
@media screen and (max-width: 768px) {
  #footer_div{
    padding-left: 0px;
   }
}
