.flex-columnwise, .flex-rowwise {
  position: relative;
  width: auto;
  height: auto;
  letter-spacing: -1px;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  -webkit-align-items: center;
}

.flex-columnwise {
  flex-flow: row nowrap;
  -webkit-flex-flow: row nowrap;
  justify-content: space-between;
  -webkit-justify-content: space-between;
}

.flex-rowwise {
  flex-flow: column nowrap;
  -webkit-flex-flow: column nowrap;
  justify-content: flex-start;
  -webkit-justify-content: flex-start;
}

.grow-flex {
  width: auto;
  flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
}

.remove-padding {
  padding: 0 !important;
}

.headers-page {

  .header-nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    margin-right: auto !important;
  }

  .nav-custom {
    border: none;
    width: 100%;
    height: 70px;
    background: #FFF !important;
    position: fixed;
    z-index: 99999;
    margin-top: 0px !important;
    box-shadow: 1px 1px 2px 1px #ececec;
    border-bottom: 1px solid #daded3;
    padding: .5rem 1rem;
  }

  .header-nav .nav-item {
    margin: 0 40px 0 0;
    position: relative;
  }

  .sub-menu-wrapper {
    position: absolute;
    top: 100%;
    left: -15px;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 15px 0 0 0;
    margin: 0;
    font-size: 14px;
    color: #212529;
    text-align: left;
    list-style: none;
    background-clip: padding-box;
  }

  .sub-menu-wrapper .sub-menu {
    border-radius: .25rem;
    border: 1px solid rgba(0,0,0,.15);
    background-color: #fff;
  }

  .nav-item:hover .sub-menu-wrapper {
    display: block;
  }

  .nav-link {
    color: #2e4379 !important;
    text-transform: uppercase;
    font-weight: 600;
    padding: 0 !important;
    white-space: nowrap;
    letter-spacing: 0.5px;
  }

  .nav-link.dropdown-toggle::after {
    content: none;
  }

  .nav-item:hover > .nav-link {
    color: #f35406 !important;
  }

  .header-nav .nav-item:before {
    background: #f35406 none repeat scroll 0 0;
    border: medium none;
    border-radius: 0;
    content: "";
    height: 3px;
    left: 0;
    right: 0;
    top: -25px;
    transition: all .3s ease-in-out;
    width: 0;
    position: absolute;
    margin: 0 auto;
    text-align: center;
    bottom: auto;
  }

  .nav-item:hover:before {
    width: 100%;
    transition: all .3s ease-in-out;
  }
  /*.nav-item:last-child .nav-link {
    margin-right: 0;
  }*/
  .dropdown-heading {
    padding: 8px 15px;
    background-color: #ececec;
    font-weight: 600;
    letter-spacing: 0.1px;
    cursor: default;
    border-bottom: 1px solid #daded3;
  }



  .dropdown-item {
    color: #2e4379 !important;
    padding: 10px 15px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.5px;
  }

  .nav-item > .active, .dropdown-item:active {
    background: none !important;
  }

  .dropdown-item .fa {
    font-size: 16px;
    padding-right: 3px;
  }

  .dropdown-item .fa-twitter {
    color: #00A7E6
  }

  .dropdown-item .fa-stack-overflow {
    color: #ED7C22;
  }

  .dropdown-item .fa-rss {
    color: #F79B00;
  }

  .dropdown-item .fa-youtube {
    color: #FE0000;
  }

  .dropdown-divider {
    margin: 2px;
  }

  .navbar-nav {
    // margin-left: 269px;
  }

  .end-points-wrapper {
    padding: 10px;
    background-color: #e2e2e2;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
  }

  .end-points-wrapper img {
    width: 20px;
    height: 20px;
  }

  .header-search {
    position: relative;
    padding: 0;
  }

  .header-search .form-control {
    width: 100%;
    height: 50px;
    border-radius: 7px;
  }

  .header-search .fa-search {
    position: absolute;
    right: 15px;
    font-size: 20px;
    color: #756f6f;
    cursor: pointer;
  }

  .dropdown-menu {
    left: -15px;
    top: 35px;
    padding: 0;
    margin: 0;
  }

  .dropdown-item {
    padding: 10px 15px;
  }

  .sub-menu-wrapper:not(.has-no-headings) .dropdown-item {
    padding: 10px 25px;
  }

  .contact-us-wrapper {
    position: relative;
    padding: 0;
  }

  .contact-us-block .dropdown-toggle {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    background-color: #40ad40;
    padding: 15px;
    height: 40px;
    border-radius: 5px;
    color: #FFF;
    font-size: 14px;
    margin-left: 10px;
  }

  .contact-us-block .dropdown-toggle span {
    padding: 0 5px 0 10px;
    white-space: nowrap;
    letter-spacing: 0.2px;
  }

  .contact-us-block .dropdown-toggle .fa-comments {
    font-size: 25px;
  }

  .contact-us-block .dropdown-menu::before {
    content: " ";
    width: 14px;
    height: 14px;
    position: absolute;
    background-color: inherit;
    right: 11px;
    transform: rotate(45deg);
    top: -7px;
    border-radius: 2px;
    border: 1px solid rgba(0,0,0,.20);
    border-bottom: none;
    border-right: none;
  }

  .contact-us-block .dropdown-menu {
    /*background-color: #f9f9f9;*/
    background-color: #f8f9fa;
    border-radius: 8px;
    width: auto;
    right: 0;
    left: unset;
    top: 59px;
    position: absolute;
  }

  .contact-us-block .dropdown-item {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    -webkit-align-items: center;
    flex-flow: row nowrap;
    -webkit-flex-flow: row nowrap;
    padding: 20px 15px;
    border-radius: inherit;
    /*justify-content: space-between;
    -webkit-justify-content: space-between;*/
  }

  .contact-us-block .dropdown-item .fa {
    font-size: 30px;
    padding: 0;
    color: #FFF;
  }

  .contact-us-icon {
    width: 60px;
    height: 60px;
    text-align: center;
    padding: 15px 0;
    background-color: #2e4379;
    border-radius: 50%;
  }

  .contact-details li {
    line-height: 24px;
  }

  .contact-details li, .contact-details a {
    color: #2e4379;
  }

  .contact-details li:hover, .contact-details a:hover {
    color: #3659b3;
  }

  .search-wrapper {
    position: relative;
  }

  .desktop-only {
    display: none;
  }

  .mobile-search-icon {
    display: none;
  }
  // Small devices (landscape phones, 576px and up)
  /*@media (max-width: 576px) {
    .contact-us-block .dropdown-toggle span {
      display: none;
    }
  }*/
  // Medium devices (tablets, 768px and up)
  @media (max-width: 768px) {
    .contact-us-block .dropdown-toggle {
      padding: 10px;
      height: 50px;
    }

    .is-mobile {
      right: 55px;
    }

    .dropdown-toggle::after {
      content: none;
    }

    .contact-us-block .dropdown-toggle span {
      display: none;
    }

    .mobile-search-icon {
      display: block;
      font-size: 30px;
      background-color: #ececec;
      padding: 10px;
      width: -webkit-fit-content;
      width: -moz-fit-content;
      width: fit-content;
      border-radius: 5px;
      color: #5f5c5c;
      margin-left: auto;
    }

    .header-search-wrapper {
      display: none;
      position: absolute;
      right: 0;
      background-color: #daded3;
      padding: 10px;
    }

    .search-wrapper:hover .header-search-wrapper {
      display: block;
      position: absolute;
      right: -100px;
      background-color: #ececec;
      padding: 0px 10px;
      width: 300px;
    }

    .header-search .form-control .contact-us-block .dropdown-menu {
      height: 40px;
    }
  }
  // Large devices (desktops, 992px and up)
  @media (min-width: 992px) {
    .desktop-only {
      display: flex;
    }

    .contact-us-block .dropdown-toggle span {
      display: block;
    }
  }
  // Extra large devices (large desktops, 1200px and up)
  @media (min-width: 1200px) {
  }


}
.header5_div{
  font-family: arial,sans-serif;
}
.link_header5{
  color: #1a0dab !important;
}
.para_h5{
  font-size: 14px;
  line-height: 0.30
}
.link_h5{
  color: #006621
}
.caret_color{
  color: #006621
}
.desc{
  line-height: 19px;
}
.zero_result{
  line-height: 19px;
  text-align:center;
}

