// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

/* You can add global styles to this file, and also import other style files */
/* @import '~font-awesome/css/font-awesome.css'; */


.docs-section {
  margin: 0;
  min-height: 100vh;
  display: -webkit-flex;
  display: flex;
  flex-flow: row nowrap;
  -webkit-flex-flow: row nowrap;
}

.left-side-nav {
  width: 300px;
  min-width: 300px;
  float: left;
  position: fixed;
  overflow-y: scroll;
  z-index: 2;
  background: rgb(46,53,71);
  /*overflow-x: hidden;*/
  height: calc(100vh - 70px);
  margin-top: 70px;
}

.sidebar{
  margin-top: 30px;
}

.mobile-nav-menu-icon {
  display: none;
}

.logo-block {
  margin: 0 3% 0 0;
  text-align: center;
}


.page-content-wrapper {
  flex-grow: 1;
  position: relative;
  z-index: 1;
  max-width: 100%;
  width: inherit;
  padding: 0;
  overflow: auto;
  margin-left: 300px;
}

.page-content {
  padding: 40px;
  /* max-width: 1200px; */
  min-width: 700px;
  line-height: 28px;
  margin-top: 70px;
}

article img {
  max-width: 100%;
  margin-top: 21px;
}

.clear {
  content: "";
  clear: both;
  display: block;
}


.fsc-developerHeader {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  background: #00113d;
  height: 120px;
  width: 100%;
  z-index: 3;
  vertical-align: middle;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 50px;
}

.fsc-developerHeader.slim {
  height: 82px;
}




.sidebar .search-form {
  position: relative;
}

.sidebar .search-form .fa-search {
  position: absolute;
  top: 27px;
  color: #c7cdcf;
  font-size: 14px;
  left: 20px;
}

.sidebar .sidebar-expander {
  cursor: pointer;
  display: none;
  font-size: 14px;
  position: absolute;
  right: 6px;
  top: 17px;
  padding: 10px;
}

.sidebar ul {
  list-style: none;
}

.sidebarGroup .sidebarItem.nochild {
  // margin-bottom: 20px;
}

.sidebar li {
  padding: 0;
  text-transform: uppercase;
  width: 100%;
}

.nav-menu {
  padding-left: 10px;
  padding-right: 20px;
}

.nav-menu .sidebarGroup.closed > ul {
  display: none;
}

.nav-menu .subtree-name,
.sidebarItem a {
  color: #00113d;
  display: inline-block;
  cursor: pointer;
  position: relative;
  width: 100%;
  font-size: 14px;
}

.nav-menu .subtree-name .notactive,
.nav-menu .subtree-name .active-route,
.sidebarItem a {
  padding: 10px 20px 10px 15px;
  font-size: 14px;
  line-height: 1;
}

.nav-menu .subtree-name:hover .notactive, .nav-menu .subtree-name .active-route {
  background-color: #444b5d;
}

.nav-menu .subtree-name:hover {
  color: #1df5ea;
}

.nav-menu .fa-external-link-square {
  margin-left: 3px;
  color: #959b9e;
  vertical-align: bottom;
}

.search-results h1 {
  margin-bottom: 0;
}

.search-results .search-query {
  font-weight: normal;
}

.search-results .num-results {
  margin-top: 13px;
  margin-bottom: 63px;
  text-transform: uppercase;
  font-weight: bold;
  color: #959b9e;
}

.search-results em {
  color: #f94878;
  font-style: normal;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

.search-results .page-result {
  margin: 40px 0;
}

.search-results .page-result .page-title {
  margin-bottom: 5px;
}

.search-results .page-result .page-url {
  font-weight: normal;
  text-decoration: underline;
}

.search-results .page-result .text-snippets {
  margin-top: 12px;
  line-height: 22px;
}

.search-results .search-loading {
  line-height: 40vh;
  min-height: 40vh;
  vertical-align: middle;
  text-align: center;
}


/*********** TABLE ***********/
table {
  border-collapse: collapse;
  word-break: normal;
  border: 1px solid #daded3;
}

table thead {
  background-color: #efefef;
  border-bottom: 1px solid #daded4;
}

table tbody {
  background-color: white;
}

table tbody tr {
  border-bottom: 1px solid #daded3;
}

table tbody tr:last-child {
  border-bottom: 0;
}

table td,
table th {
  padding: 10px;
}

table th {
  text-align: left;
  font-size: 0.9rem;
  font-weight: bold;
  color: #545151;
  padding: 8px;
}

table td {
  line-height: 25px;
  vertical-align: top;
  letter-spacing: 0.5px;
}

table td:nth-child(n+2) {
  font-style: italic;
}

table a {
  color: #00a3ff;
  font-style: initial;
  font-weight: 500;
  letter-spacing: 0.5px;
}



.hero-block {
  padding: 60px 0;
}

.hero-block:first-child {
  padding-top: 0;
}

.hero-block:last-child {
  padding-bottom: 0;
}

.home-primary {
  font-size: 30px;
  margin: 0;
  margin-bottom: 20px;
}

.home-secondary {
  font-size: 46px;
  line-height: 50px;
  letter-spacing: -1px;
  margin-top: 0;
}

.started-buttons {
  margin-top: 20px;
}

.home-text-wrap {
  max-width: 550px;
  margin: 40px 0;
}

.home-text-wrap:last-child {
  margin-bottom: 0;
}

.highlighter-rouge td {
  padding: 0;
}

pre,
code {
  font-family: "RobotoMono-Bold", "Source-Code-Pro", monospace;
  font-size: 13px;
  line-height: 20px;
}

pre {
  background-color: white;
  margin: 0 !important;
  padding: 30px !important;
}

.highlight pre,
pre,
.highlight .hll {
  padding: 25px;
  white-space: pre-wrap;
}

code.highlighter-rouge {
  border-radius: 2px;
  color: #007bff;
  background-color: #fff;
  border: 1px dotted #c7cdcf;
  font-size: 16px;
  padding: 3px 10px;
}

.tabbed > input {
  display: none;
}

.tab-separator {
  font-weight: normal;
}

.tab-label {
  font-weight: bold;
}

.tab-label,
.tab-separator {
  display: block;
  float: left;
  padding: 12px 0;
  color: #959b9e;
  margin-right: 5px;
  text-transform: uppercase;
}

.tabbed > label {
  display: block;
  float: left;
  padding: 0 10px;
  margin: 12px 0;
  margin-right: 5px;
  cursor: pointer;
  font-weight: bold;
}

.tabbed > label:hover,
.tabbed > input:checked + label {
  text-decoration: underline;
}

.tabs {
  clear: both;
  background-color: white;
  position: relative;
  overflow: hidden;
  border: 1px solid #c7cdcf;
  height: 300px;
}

.tabs figure,
.tabs pre {
  margin: 0;
  border: 0;
}

.tabs code {
  padding: 0;
}

.tabs > div {
  width: 100%;
  overflow: auto;
  position: absolute;
  line-height: 1em;
  display: none;
}

.tabs > div::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 15px;
}

.tabs > div::-webkit-scrollbar-thumb {
  border-radius: 8px;
  border: 4px solid #fff;
  background-color: #fad948;
}

#tab-nav-1:checked ~ .tabs > div:nth-of-type(1),
#tab-nav-2:checked ~ .tabs > div:nth-of-type(2),
#tab-nav-3:checked ~ .tabs > div:nth-of-type(3),
#tab-nav-4:checked ~ .tabs > div:nth-of-type(4) {
  display: block;
  height: 100%;
}

// .string {
//   color: green !important;
// }

// .number {
//   color: darkorange;
// }

// .boolean {
//   color: darkorange;
// }

// .null {
//   color: magenta;
// }

// .key {
//   color: #b33f89;
// }


.form-control {
  padding: 5px 10px;
  height: 40px;
}

.form-control:focus {
  outline: none;
  box-shadow: none;
}


.modal-backdrop.show {
  background-color: #f9f9f9;
}

.modal-header .modal-title {
  text-align: left;
  margin: 0;
  font-size: 18px;
}

.modal-content {
  border: 1px solid #daded3;
  box-shadow: 0 0 10px 1px #daded3;
}

.block-wrapper {
  /*border: 1px solid #999a9e;
  background-color: #FFF;
  padding: 30px;*/
}

/*.block-title {
  margin-top: 10px;
}*/

.entry-title {
  letter-spacing: 0.5px;
  padding: 5px 0;
  color: #5C6273;
  font-size: 20px;
  line-height: 40px;
  font-weight: 500;
}

.json-data {
  background-color: #eeeff1;
  border: 1px solid #daded3;
}

.end-point-links {
  color: #0072b3;
  cursor: pointer;
}

.end-point-links:hover {
  color: #2196F3;
}

/*Large devices (desktops, 992px and up)*/
@media (max-width: 992px) {
  .left-side-nav {
    width: 240px;
    min-width: 240px;
  }

  .page-content {
    padding: 40px 20px;
    min-width: 100%;
  }

  .fsc-developerHeader {
    padding: 0 20px;
  }
}

/*Medium devices (tablets, 768px and up)*/
@media (max-width: 768px) {

  .sidebar {
    display: -webkit-flex;
    display: flex;
    flex-flow: row nowrap;
    -webkit-flex-flow: row nowrap;
    justify-content: space-between;
    -webkit-justify-content: space-between;
    align-items: center;
    -webkit-align-items: center;
  }

  .logo-block {
    margin: 0;
  }

  .mobile-nav-menu-icon {
    display: block;
    padding-right: 20px;
    color: #ffffff;
    font-size: 30px;
  }

  .mobile-nav-menu {
    position: fixed;
    right: 0px;
    top: 70px;
    z-index: 2;
    width: 280px;
    background-color: #444b5d;
    overflow-y: auto;
    height: calc(100vh - 90px);
    display: none;
  }

  .docs-section {
    flex-flow: column nowrap;
    -webkit-flex-flow: column nowrap;
  }

  .left-side-nav {
    position: fixed;
    z-index: 99999;
    min-width: 45px;
    width: 40px;
    overflow: inherit;
    right: 0px;
    margin-left: auto;
    padding: 3px 10px 3px 10px;
    height: 50px;
    margin: 12px 15px 12px 15px;
    border-radius: 5px;
    top: -2px;
  }


  .sidebar {
    margin: 0;
  }

  .page-content-wrapper {
    margin-left: 0;
  }
}

/*Large devices (desktops, 992px and up)*/
@media (min-width: 769px) {
  .mobile-nav-menu {
    display: block !important;
  }
}
